# /etc/systemd/system/manuka.service
[Unit]
Description=manuka
Requires=docker.service
After=docker.service
[Service]
Restart=always
RestartSec=5
TimeoutSec=infinity
# Working directory
WorkingDirectory=/opt/manuka
# Get public ip
ExecStartPre=-/opt/manuka/bin/get-publicip.sh
# Remove old containers, images and volumes
ExecStartPre=-/usr/local/bin/docker-compose down -v
ExecStartPre=-/usr/local/bin/docker-compose rm -v
ExecStartPre=-/bin/bash -c 'docker network rm $(docker network ls -q)'
ExecStartPre=-/bin/bash -c 'docker volume rm $(docker volume ls -q)'
ExecStartPre=-/bin/bash -c 'docker rm -v $(docker ps -aq)'
ExecStartPre=-/bin/bash -c 'docker rmi $(docker images | grep "<none>" | awk \'{print $3}\')'
# Compose up
ExecStart=/usr/local/bin/docker-compose up --no-color
# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v
[Install]
WantedBy=multi-user.target